@use '../helpers' as h;

.premium-ctn {
    height: 150px;
    width: 100%;
    // background-color: aqua;
    padding: 15px;
    padding-left: 10px;
    @include h.flexbox(column, center, flex-start);

    .second {
        font-family: var(--font-second);
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--txt-color);
    }

    .first {
        font-size: 2.2em;
        font-weight: 600;
        text-wrap: pretty;
        color: var(--primary);
    }

    .b {
        background-color: var(--primary);
        margin: 10px 15px 0 0;
        color: var(--txt-color);
        // font-family: var(--font-second);
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    // Adjust breakpoint as needed

    .premium-ctn {
        width: 100%;
        // height: 250px;
        height: auto; // Allow content to fit
        margin-bottom: 10px; // Add separation
        margin-top: 100px;


        .second,
        .first {
            text-align: left; // Center text on mobile
            text-wrap: pretty;
        }

        .second {
            font-weight: 300;
            font-size: 1em; // Reduce font size
        }

        .first {
            line-height: 1;
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 2em; 
        }

        .b {
            display: block; // Make button full width
            margin: 10px 0;
            padding: 8px 15px; // Adjust padding for touch
            font-size: 1em; // Reduce font size
        }
    }
}