@use '../helpers' as h;
@use '../utils' as u;

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    // @include h.flexbox;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 100px;


    .card {
        @include h.flexbox(column, flex-start, flex-start);
        height: 200px;
        min-height: 200px;
        min-width: 150px;
        padding: 12px;
        margin: 10px;
        width: 200px;
        background-color: var(--fg-color);
        border-radius: 10px;
        cursor: pointer;
        box-shadow: var(--box-shadow);
        transition: ease-in all 0.2s;

        &:hover {
            scale: 1.01;
            background-color: var(--fg);

            .play {
                cursor: pointer;
                transition: 0.5s;
                opacity: 1;
                transform: scale(1.8);
            }
        }

        img {
            height: auto;
            min-height: 100px;
            width: 100%;
            max-width: 100%;
            border-radius: 8px;
            object-fit: cover;

        }

        .name-header {
            margin-top: 15px;
            font-family: u.$font-para;
            font-weight: 400;
            text-align: left;
            font-size: 12px;
            color: var(--txt-second);
        }

        .name {
            font-family: u.$font;
            font-size: 18px;
            text-wrap: nowrap;
            font-weight: 600;
            letter-spacing: 0.2px;
            margin: 10px auto 0;

        }

        .totalsongs {
            color: var(--txt-second);
            font-size: 16px;
            font-family: u.$font-para;
            margin: 5px auto;

        }

        .view {
            @extend %submit-button;
            width: 100%;
            border-radius: 8px;
        }

        .play {
            position: absolute;
            max-width: 10px;
            max-height: 10px;
            width: auto;
            height: auto;
            text-align: center;
            top: 15%;
            left: 30%;
            opacity: 0;
            transition: ease all 0.2s;
            border-radius: 10px;
            color: var(--primary);
            background-color: transparent;
            font-size: 20px;
        }

    }

    .playlistCard {

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        // height: 50px;
        width: 200px;

        .play {
            top: 60%;
            left: 30%;
            opacity: 0;
            transition: ease all 0.2s;
            border-radius: 10px;
            color: wheat;
        }

        .totalsongs {
            color: wheat;
        }
    }


}

@media (max-width: 768px) {

    .card-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-left: 0;
        padding-left: 0;
        padding-bottom: 50px;
        text-align: left;

        .card {
            max-width: 150px;
            /* Adapt card width for smaller screens */
            height: auto;
            /* Remove fixed height */
            max-height: 150px;
            padding: 10px;
            margin: 5px;
            margin-left: 0;

            .name-header,
            .totalsongs {
                font-size: 12px;
                /* Reduce font sizes */
            }

            .name {
                font-size: 16px;
                /* Adjust font size */
            }

            .view {
                font-size: 12px;
                /* Reduce font size for button */
            }

            .play {
                top: 50%;
                /* Adjust play button position */
                left: 40%;
                font-size: 16px;
                /* Increase icon size */
            }
        }

        .playlistCard {
            width: 100%;
            text-wrap: pretty;
          

            .play {
                /* Adapt play button styles for mobile */
            }

            .totalsongs {
                /* Adjust totalsongs style for mobile */
            }
        }
    }
}